---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<Layout title="Posts BD1">

<section class="px-3 py-20">
  <div class="max-w-5xl mx-auto">

    <h1 class="text-4xl md:text-5xl font-bold mb-10 text-center">
      Posts Bases de Datos I
    </h1>

    <div class="grid md:grid-cols-2 gap-8">

      {posts.map((post) => (
        <a
          href={`/posts/${post.slug}/`}
          class="bg-white border-3 p-6 shadow-[8px_8px_0px_rgba(0,0,0,0.3)] hover:-translate-y-1 transition"
        >
          <h2 class="text-2xl font-semibold mb-2">{post.data.title}</h2>
          <p class="opacity-70">{post.data.pubDate}</p>
        </a>
      ))}

    </div>

  </div>
</section>

</Layout>